/********** FONT IMPORT **********/
@font-face {
    font-family: "SourceSansPro Light";
    src: url(./resources/fonts/sourcesanspro-light.otf);
}

@font-face {
    font-family: "SourceSansPro Regular";
    src: url(./resources/fonts/sourcesanspro-regular.otf);
}

@font-face {
    font-family: "SourceSansPro Bold";
    src: url(./resources/fonts/sourcesanspro-bold.otf);
}

/********** RESET CSS **********/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}