/********** FONT IMPORT **********/
@font-face {
    font-family: "SourceSansPro Light";
    src: url(./resources/fonts/sourcesanspro-light.otf);
}

@font-face {
    font-family: "SourceSansPro Regular";
    src: url(./resources/fonts/sourcesanspro-regular.otf);
}

@font-face {
    font-family: "SourceSansPro Bold";
    src: url(./resources/fonts/sourcesanspro-bold.otf);
}

/********** RESET CSS **********/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/********** VARIABLES **********/
:root {
    --light-color: #ffffff;
    --grey-color: #c8c8c8;
    --dark-color: #071629;
    --subline-color: #ff6565;
    --background-color: #071629;
}

/********** GENERAL **********/
body {
    font-family: "SourceSansPro Regular", sans-serif;
    font-size: 1rem;
    color: var(--light-color);
    background-image: url(./resources/images/headphones_hero_1.jpg);
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--background-color);
}

a {
    color: var(--light-color);
}

a:hover,
a:active {
    color: var(--subline-color);
}

/********** HEADER **********/
header {
    max-width: 1100px;
    margin: 30px auto;
    height: 30px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_headphones {
    width: 160px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

/* Navigation links animation */
nav a {
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: var(--subline-color);
    transition: all 0.2s ease-in-out;
}

nav a:hover::after {
    width: 100%;
    left: 0;
}